:root {
    --bg: #f7f7fb;
    --card: #ffffff;
    --accent: #0b5cff;
    --muted: #666;
}

body {
    font-family: Inter, system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    background: var(--bg);
    color: #111
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px
}

.card {
    background: var(--card);
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(13, 30, 80, 0.08);
    padding: 28px;
    display: flex;
    gap: 24px;
    align-items: center
}

.avatar {
    width: 140px;
    height: 140px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /* background: linear-gradient(135deg, var(--accent), #5ad0ff); */
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/albert-einstein-sticks-out-his-tongue-when-asked-by-news-photo-1681316749.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 34px
}

h1 {
    margin: 0 0 8px 0;
    font-size: 24px
}

p.lead {
    margin: 0;
    color: var(--muted)
}

nav {
    margin-top: 18px;
    display: flex;
    gap: 10px
}

a.btn {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    background: var(--accent)
}

textarea {
    padding: 8px 14px;
    border-radius: 8px;
    min-height: 40px;
    min-width: 100px;
}

button.send {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    background: lightblue;
}

textarea, button.send {
  vertical-align: bottom;
}

main {
    margin-top: 26px;
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 20px
}

section {
    background: var(--card);
    padding: 18px;
    border-radius: 10px;
}

p.long {
    text-align: justify;
    line-height: 1.5;
}

h2 {
    margin-top: 0
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.contact-list li {
    display: flex;
    gap: 8px;
    align-items: center
}

li {
    padding: 0.2rem 0.5rem 0.2rem 0;
}

ul.outer {
    list-style: disc; /* show bullets */
    margin: 0 0 0.5rem 0;
}

ul.outer ul {
    list-style: circle;
    margin: 0.5rem 0 0.5rem 0;
    padding-left: 1.5rem;
}

ul a, a:visited {
    color: inherit;
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: var(--muted);
    font-size: 13px
}

@media(max-width:780px) {
    main {
        grid-template-columns: 1fr
    }

    .card {
        flex-direction: row
    }

    .avatar {
        max-width: 100px;
        max-height: 100px;
        font-size: 22px
    }
}