{% extends "parent.html" %}
{% block headtitle %}
Wizytówka - O mnie
{% endblock %}

{% block content %}
<section id="o-mnie">
    <h2>O mnie</h2>
    <p class="muted long">Jestem inżynierem danych i programistą Python z doktoratem
        z Nauk Chemicznych. Mam doświadczenie w przetwarzaniu danych, budowie
        pipeline’ów ETL oraz automatyzacji procesów, w tworzeniu rozwiązań
        w Pythonie do pozyskiwania, walidacji i analizy danych oraz w pracy
        z dużymi zbiorami danych w międzynarodowych zespołach (Polska, Francja,
        Holandia). Jestem zmotywowany do udziału i rozwoju w projektach o realnym
        wpływie na zrównoważony rozwój innowacyjnego społeczeństwa i gospodarki.</p>
    <h3>Umiejętności</h3>
    <ul class="outer">
        <li><strong>Programowanie/skryptowanie:</strong>
            <ul>
                <li>Python (numpy, scipy, matplotlib, pyqt5)</li>
                <li>HTML</li>
                <li>PHP (podstawy)</li>
            </ul>
        </li>
        <li><strong>Inżynieria danych:</strong>
            <ul>
                <li>pipeline’y ETL</li>
                <li>walidacja danych</li>
                <li>automatyzacja</li>
                <li>integracja z urządzeniami pomiarowymi</li>
            </ul>
        </li>
        <li><strong>Bazy danych:</strong>
            <ul>
                <li>MySQL (podstawy)</li>
                <li>operowanie na dużych zbiorach danych</li>
            </ul>
        </li>
        <li><strong>CI/CD:</strong> GitHub</li>
        <li><strong>Inne:</strong>
            <ul>
                <li>Excel (zaawansowany)</li>
                <li>MATLAB (podstawy)</li>
                <li>LabView</li>
                <li>COMSOL Multiphysics</li>
            </ul>
        </li>
    </ul>
    <h3>Kompetencje miękkie</h3>
    <ul>
        <li>Rozwiązywanie problemów</li>
        <li>Praca w zespole</li>
        <li>Przystosowanie</li>
        <li>Samodzielne uczenie</li>
    </ul>
    <h3>Certyfikaty</h3>
    <ul>
        <li>Machine Learning Onramp, MathWorks</li>
        <li>MATLAB & Simulink Onramp, MathWorks</li>
        <li>National Instruments Certified Associate Developer</li>
    </ul>
</section>
{% endblock %}