<!doctype html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{% block headtitle %} {% endblock %}</title>
</head>

<body>
    <div class="container">
        <section>
            <h1>Witaj na mojej stronie domowej</h1>
        </section>
        <div class="card">
            <div class="avatar"></div>
            <div>
                <h1>Radosław Deska</h1>
                <p class="lead">Programista |<wbr> Automatyzacja |<wbr> Python &amp; web</p>
                <nav>
                    <a class="btn" href="{{url_for('get_about')}}">O mnie</a>
                    <a class="btn" href="{{url_for('get_contact')}}">Kontakt</a>
                </nav>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer>
            &copy; 2025 Radosław Deska
        </footer>
    </div>

</body>

</html>